@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@400;500;600&display=swap");

body{
    margin: 0;
    padding: 0;
}

.construction{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.construction i{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    padding-right: 1rem;
}